/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */

.dropzone {
    border: 2px dashed #997f7f;
    border-radius: 5px;
    background: #f5f5f5;
  }
  
  .dropzone i{
    font-size: 5rem;
  }
  
  .dropzone .dz-message {
    color: rgba(0,0,0,.54);
    font-weight: 500;
    font-size: initial;
    text-transform: uppercase;
  }

.container-fluid{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: large;
    text-align: center;
    background-color: rgb(54, 50, 50);
  }

button{
    text-transform: uppercase;
    box-shadow: 12px;
    border-radius: 5px;
  }

  .bg-img{
    background: url(../bg.jpg) center center ;
    background-repeat: repeat-y;
    background-size: cover;
    position : absolute;
    top : 0;
    left : 0;
    z-index : -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    overflow-y: scroll;
  }

  .card2{
    background-color: rgb(171, 140, 140) !important;
    font-display: swap !important;
    border-radius: 5px !important;
    box-shadow: 12px !important;
    margin: 10px !important;
    padding: 1% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    transition: all 0.7s  !important;
  }
.card2:hover{
  background: linear-gradient(to bottom, #008CBA, #4CAF50);
  transform: translateY(-15px);
  transform: scale(1.1);
}

.simple-card{
  background-color: rgb(75, 135, 110);
  font-display: swap;
  border-radius: 5px;
  box-shadow: 12px;
  margin: 10px;
  padding: 1%;
  margin-left: 10%;
  margin-right: 10%;
  transition: all 0.7s ;
}


.input-container{
  text-align: center;
}

h1, h3{
  font-size: 3rem !important;
  font-weight: 500!important;
  text-transform: uppercase!important;
  letter-spacing: 0.1rem!important;
  margin-bottom: 1rem!important;
  margin-top: 19px!important;
  text-decoration: underline!important;
  transition: all 0.7s !important;
}
h1:hover{
  color: aqua;
  transform: scale(1.1);

}

h3:hover {
  color: aqua;
  transform: scale(1.1);

}
.result-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.btn{
  font-size: 20px !important;
}
.form-control{
  font-size: 20px !important;
  margin: auto !important;
}
/* .img-container {
  margin: 50px !important;
} */
/* .fade-in {
  opacity: 0;
  transition: opacity 2s;
}

.visible {
  opacity: 1;
} */


.fade-in-left {
  position: relative;
  animation-name: fade-in-left;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}




.fade-in-right {
  position: relative;
  animation-name: fade-in-right;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.precautions{
  margin: 0px !important;
  text-align: left !important;
}

#logo {
  position: fixed;
  top: 10px;
  left: 10px;
}